asgiref==3.7.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
Django==3.2.11
djangorestframework==3.12.2
docopt==0.6.2
idna==3.4
jsonfield==3.1.0
jsonrpcclient==4.0.3
jsonrpcserver==5.0.9
jsonschema==4.17.3
OSlash==0.6.3
Pillow==9.5.0
pyrsistent==0.19.3
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==2.0.2
